/* Set nav to sticky or fixed */

/* Add a background color to the top navigation */
.topnav {
  background-color: #071358;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 35px;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #8ec7dd;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  text-align: justify;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #df8a45;
  color: rgb(207, 192, 107);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #88cf76;
  color: rgb(14, 77, 32);
}
